img2vec_pytorch==1.0.1
k_means_constrained==0.7.2
matplotlib==3.7.1
numpy==1.24.2
opencv_python==4.7.0.72
pandas==2.0.0
Pillow==9.5.0
prettytable==3.7.0
scikit_learn==1.2.2
scipy==1.10.1
torch==2.0.0
torchinfo==1.7.2
torchmetrics==0.11.4
torchvision==0.15.1
tqdm==4.65.0
tensorboard==2.12.2
